DJANGO_SECRET_KEY=9!s-WXdO!xfjhcpvq%rF^hhy4IMn(yb918KMeE(SnrR(5t47L^rVGa5728@&HBFj
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=.onrender.com
# Use SQLite temporarily until Postgres is ready
DJANGO_USE_SQLITE=True

# Your already deployed Vercel frontend URL
FRONTEND_URL=https://huyuhoy-silogan.vercel.app

SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SAMESITE=None
CSRF_COOKIE_SAMESITE=None
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True