.hero {
    display: block;
    background-image: url("../imgs/login-bg.png");
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.left-container {
    display: flex;
    height: 500px;
    width: 1000px;
    border: 0.5px solid black;
    margin: auto;
    margin-top: 50px;
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}

.form a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-size: 14px;
}

.form a:hover {
    text-decoration: underline;
}


.form h2 {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 30px 50px 30px;
}

.box {
    padding: 10px;
    width: 65%;
    margin: 0 0 0 0;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
}

.form h3 {
    margin: 10px 80px;
    align-self: flex-start;
}

#submit {
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: whitesmoke;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5;
    border-width: 0.1px;
    border-color: black;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
    background-color: #fdc300;
}

/* Right Container*/
.right-container {
    justify-content: center;
    background-color: #fff8dd;
    width: 50%;
}

.right-container h2 {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 30px 60px 130px;
}

.right-container p {
    font-size: 16px;
    margin: 10px 50px 10px 65px;
}

.right-container #delivery {
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 200px;
}

.right-container button {
    margin: 10px 10px 50px 150px;
    padding: 12px 30px;
    width: 40%;
    border-radius: 10px;
    border-color: black;
    border-width: 0.1px;
    background-color: #fdc300;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.right-container button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
}


