body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background: linear-gradient(rgba(163, 156, 156, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/6.png");
}

.left-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
    max-width: 1100px;
    margin: auto;
    padding: 25px;
    border: 0.5px solid black;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#create-account-header {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 90%;
    padding: 15px 100px 15px 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.form h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Display as column */
    align-items: flex-start; /* Align text at the beginning */
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px; /* Adjust as needed */
}

.form .sub-btn {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    padding: 12px;
    background-color: #e6870e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Adjust as needed */
}

.form .sub-btn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.form a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

.form a:hover {
    text-decoration: underline;
}

ul li {
    list-style: none;
}

.line {
    width: 1px;
    height: 100%;
    background-color: #333;
}

.right-container {
    width: 50%;
    height: 90%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.right-container h2 {
    color: #333;
    font-size: 28px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.right-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}

.right-container #delivery {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.right-container button {
    padding: 12px 30px;
    background-color: #e6870e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right-container button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .left-container {
        flex-direction: column;
    }

    .form,
    .right-container {
        width: 90%;
        height: auto;
        margin: 20px auto;
    }
}
