body {
    margin: 0;
    padding: 0;
}

.hero {
    display: block;
    background-image: url("../imgs/bg.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    contain: content;
}

.left-container {
    display: flex;
    height: 577px;
    max-width: 1100px;
    border: 0.5px solid black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e6870e;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 0.5px solid white; /* Specify the border style and color */
    margin: 50px;
}

.form a {
    text-decoration: none;
    color: #e6870e;
    margin-top: 10px;
    font-size: 14px;
}

.form a:hover {
    text-decoration: underline;
}


.form h2 {
    font-weight: normal;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 30px 50px 30px;
    color: #e6870e;
}

.box {
    padding: 10px;
    width: 65%;
    margin: 0 0 0 0;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
}

.form h3 {
    margin: 10px 90px;
    align-self: flex-start;
    font-family:Arial, Helvetica, sans-serif;
    color:#e6870e;
}

#submit {
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: whitesmoke;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5;
    border-width: 0.1px;
    border-color: black;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
    background-color: #fdc300;
}

.line {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    gap: 300px; /* Adjust the horizontal spacing as needed */
    padding: 1px;
    border-radius: 1px;
    width: 1px;
    min-height: 1px; /* Set the height to create a horizontal line */
    background-color: #000000; /* Line color */
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Right Container*/
.right-container {
    margin: 50px;
    justify-content: center;
    background-color: #e6870e;
    width: 50%;
}

.right-container h2 {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 30px 60px 130px;
}

.right-container p {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 50px 10px 65px;
}

.right-container #delivery {
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 200px;
}

.right-container button {
    margin: 10px 10px 50px 150px;
    padding: 12px 30px;
    width: 40%;
    color:#e6870e;
    border-radius: 10px;
    border-color: white;
    border-width: 0.1px;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.right-container button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
}

/* MAKE RESPONSIVE  
/* For mobile phones */

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet-specific CSS goes here */
    .left-container {
        display: flex;
        height: 577px;
        width: 768px;
        border: 0.5px solid black;
        margin: 50px 0 50px 90px;
        padding: 20px;
        background-color: #e6870e;
    }

    .right-container {
        margin-top: 50px;
        justify-content: center;
        background-color: #e6870e;
        width: 50%;
    }
    

    .right-container h2 {
        font-size: 28px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 50px 30px 60px 70px;
        padding: 15px
    }

    .right-container p {
        font-size: 14px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 5px 30px 10px 35px;
    }

    .right-container #delivery {
        width: 100px;
        height: 100px;
        margin: 10px 10px 10px 120px;
    }

    .right-container button {
        margin: 10px 10px 50px 100px;
        padding: 12px 30px;
        width: 40%;
        color:#e6870e;
        border-radius: 10px;
        border-color: white;
        border-width: 0.1px;
        background-color: black;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    #submit {
        padding: 12px 30px;
        width: 40%;
        margin-top: 40px;
        background-color: whitesmoke;
        color: black;
        text-transform: uppercase;
        letter-spacing: 0.5;
        border-width: 0.1px;
        border-color: black;
        outline: none;
        border-radius: 10px;
        font-weight: bold;
    }

    .footer .footer-main {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 230px;
        background-color: black;
    }
    
}

/* For small screens (e.g., specific targeting of 400px width) */
@media (min-width: 477px) and (max-width: 768px){
    .hero .left-container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: 1000px;
        margin: 0 auto;
        background-color: green;
    }

    .right-container {
        width: 90%;
        margin: 0 auto;
    }

    .form {
        width: 90%;
        margin: 20px;
    }

    .right-container button {
        margin: 10px;
        padding: 8px 20px;
    }
}

/* For desktop screens */
@media (min-width: 1024px) {
    /* Your desktop-specific CSS goes here */
}
