/* Reset some default margins and paddings */
body, h1, h2, h3, p, ol, li, ul {
    margin: 0;
    padding: 0;
}

#menu {
    width: 112px; /* Adjust to your desired width */
    height: 40px; /* Adjust to your desired height */
    overflow: hidden; /* Hide text that overflows the container */
    bottom: 500px;
    right: 1320px;
    display: flex;
    position: absolute;
    transform: rotate(-3deg); /* Rotate the text counterclockwise by 90 degrees */
    background-color: #000000;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 30px 0 50px 0;
    letter-spacing: 1.5px;
    padding: 15px;
}

/* Main container */
.m-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 60px;
    padding: 0;
    height: auto;
    
}

/* Container for product cards */
.meal-container {
    margin: 80px 10px 50px 50px;
    width: 920px;
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: flex-start;/* Adjust spacing between cards */
}

.product-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 0 12px 25px 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: flex-start;
    transition: transform 0.2s;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Image styling */
.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

/* Title styling */
.product-title {
    color: black;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

/* Radio button styling */
.product-radio {
    font-size: 16px;;
    margin-top: 10px;
    margin-left: 20px;
}


/* Button styling */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: 10px 0 0 20px;
    width: 80%;
    border-radius: 10px;
    border-color: whitesmoke;
}

.btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e6870e;
}

.btn button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
    background-color: #e6870e;
}

/* Container for order summary */
.order-total {
    width: 33%;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 245px;
    padding: 0 15px 0 15px;
    margin: 0;
    background-color: #fff;
    text-align: start;
    height: 400px;
}

.cart-items {
    width: 100%;
    overflow-y: auto;
    position: relative;
    min-height: 470px;
    margin: 0;
}

.cart-items::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.cart-items::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.cart-items:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.order-header {
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
}

.checkout {
    width: 200px;
    height: 40px;
}

.order-header h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    margin: 0;
    color: black;
    font-size: 24px;
}

.order-total ol {
    list-style: none;
    color: black;
    padding: 0;
}

.order-total li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.order-total .del {
    background-color: #e6870e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item {
    font-weight: 600;
    width: 100%; /* Ensure it takes up 100% width */
    position: relative;
    margin: 0;
    padding: 10px; /* Add padding to provide some spacing */
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Add a border between cart items */
}

.cart-item-details {
    flex: 1; /* Allow it to take up available space */
    margin: 0 10px; /* Adjust spacing */
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
}

.cart-item-name {
    display: flex;
    margin: 0; /* Remove margin */
}

.cart-item-rice {
    display: flex;
    margin: 0; /* Remove margin */
}

.cart-item-price {
    display: flex;
    margin: 0;
}

.horizontal-line {
    width: 90%;
    border: 1.8px dotted #000000; /* Add a dotted line at the bottom */
    margin: 10px 15px 10px 15px;
}

#mtotal {
    position: relative;
    display: flex;
    white-space: nowrap;
    color: black;
    right: 115px;
}

.total {
    display: flex;
    margin-left: 40px;
}

.remove-button {
    position: relative;
    background-color: #fdc300;
    color: #000000;
    border: none;
    margin-right: 15px;
    padding: 6px;
    width: 30px;
    cursor: pointer;
}

