/* Reset some default margins and paddings */
body, h1, h2, h3, p, ol, li, ul {
    margin: 0;
    padding: 0;
}

/* Main container */
.m-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: red;
    
}

/* Container for product cards */
.meal-container {
    margin-left: 15px;
    width: 1100px;
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: flex-start;/* Adjust spacing between cards */
}

.product-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 25px 25px 25px 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: flex-start;
    transition: transform 0.2s;
    width: 275px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Image styling */
.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

/* Title styling */
.product-title {
    color: black;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

/* Radio button styling */
.product-radio {
    font-size: 16px;;
    margin-top: 10px;
    margin-left: 20px;
}


/* Button styling */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: 10px 0 0 20px;
    width: 80%;
    border-radius: 10px;
    border-color: whitesmoke;
    background-color: #fdc300;
}

.btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn button:hover {
    cursor: pointer;
}

/* Container for order summary */
.order-total {
    position: absolute;
    top: 95px;
    right: 5px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: start;
    width: 30%;
    height: auto;
    background-color: rgb(242, 248, 128);
}

#order-total {
    margin: auto;
}

.order-total h3 {
    margin: 0;
    color: black;
    font-size: 24px;
}

.order-total ol {
    list-style: none;
    color: black;
    padding: 0;
}

.order-total li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.order-total .del {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#horizontal-line {
    border-bottom: 2px dotted #000000; /* Add a dotted line at the bottom */
    margin: 10px;
}

#mtotal {
    white-space: nowrap;
    color: black;
    margin: 0 180px;
}

.remove-button {
    position: relative;
    background-color: red;
    color: white;
    border: none;
    margin-right: 15px;
    padding: 6px;
    width: 30px;
    cursor: pointer;
}

