ul, ol {
    list-style: none;
}

.meal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #F5B335;
    border: 2px solid #000;
    transform: rotate(-5deg);
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    margin: 30px 150px;
}

.meal:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.meal i {
    margin-left: 10px;
}
#cartitems {
    width: 240px; /* Adjust to your desired width */
    height: 40px; /* Adjust to your desired height */
    overflow: hidden; /* Hide text that overflows the container */
    bottom: 510px;
    right: 980px;
    display: flex;
    position: absolute;
    transform: rotate(-5deg); /* Rotate the text counterclockwise by 90 degrees */
    background-color: #000000;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 30px 0 50px 0;
    letter-spacing: 1.5px;
    padding: 15px;
}

.order-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 80%; /* Adjust the width to your preference */
    min-height: 700px;
    margin: 80px 100px 50px 150px;
    border: #000000;
    border: 1px solid;
}   

.order-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid #000;
}

.title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.order-column {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    display: flex; /* Display columns horizontally */
    justify-content: center;
    align-items: center;
}

.order-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

/* Style for the submit button */
.submit-button {
    display: inline-block;
    width: 100px;
    padding: 10px 20px;
    background-color:#F5B335;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.submit-button:hover {
    cursor: pointer;
}

.order-header #permanent {
    display: flex-start;
    background-color: whitesmoke;
    color: black; /* Set text color to white */
    border-radius: 3px; /* Add rounded corners */
    margin: 10px 110px 10px 150px; /* Add some spacing around the elements */
    white-space: nowrap;
}

/* Updated CSS for Horizontal Order Columns */
.head-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 300px;
    padding: 15px;
    border-radius: 5px;
    min-height: 250px;
    margin: 15px;
}

.head-meal {
    position: relative;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Display content vertically */
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed content */
    background-color: #F5B335; /* Set a background color */
    color: #fff; /* Set text color to white */
    border-radius: 5px; /* Add rounded corners */
}

.inner-meal {
    position: relative;
}

.cart-item-container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 0 0 0 850px;
}

.cart-item-image {
    width: 125px;
    height: 125px;
}

.cart-item-name {
    flex: 1;
    margin: 0 50px 0 220px;
}

.cart-item-rice {
    flex: 1;
    align-items: center;
    text-align: center;
    margin: 0 0 0 100px;
}

.cart-item-price {  
    flex: 1;
    margin: 0 0 0 200px;
}

.remove-btn {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border: none;
    background-color: #fdc300;
    padding: 7px 12px;
    cursor: pointer;
    color: black;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.remove-btn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.footer-container {
    position: relative;
    background-color: #ffffff; 
    width: 100%; /* Adjust the width to your preference */
    margin: 0 auto; /* Center the rectangle horizontally */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

.transaction {
    margin-top: 50px;
    display: flex;
}

.transaction-box {
    flex: 1;
    padding: 15px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #F5B335;
    border: 2px solid #000;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.transaction-box:hover {
    background-color: #000;
    color: #fff;
}

.transaction span {
    letter-spacing: 1px;
}

    /* Styles for the address box */
#address-box {
    display: flex;
    margin-bottom: 50px; /* Adjust as needed */
    text-align: center;
    align-items: center;
}

.address {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#address-box i {
    position: relative;
    top: 8px;
}

#addressInput {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 15px;
}

/* Additional styles for the selection message if needed */
.selection-message {
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#order-form {
    border-top: #000 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto; /* Let the form content determine the height */
    padding: 15px; /* Add padding to the form */
    min-height: 200px;
    background-color: #fff;
}

.note {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px; /* Add space below the "Note" label */
    font-size: 20px;
    width: 500px;
    font-weight: bold;
}

#note {
    justify-content: center;
    text-align: center;
    width: 50%; /* Make the textarea fill the container width */
    padding: 30px; /* Add padding to the textarea */
    font-size: 20px; /* Increase the font size */
    border: 2px solid #ccc; /* Add a border for a clean look */
    border-radius: 5px; /* Add rounded corners */
}


.order-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: #fff;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0 70px 0 15px;
}


.btn-group {
    margin: 0;
}

a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
    box-shadow: 5px 8px 12px 5px rgba(0, 0, 0, 0.2);
}

.login {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #F5B335;
}