
body {
    margin: 0;
    padding: 0;
}


.hero {
    display: block;
    background-image: url("../imgs/bg.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
    contain: content;
}

.main-container {
    display: flex;
    height: auto;
    width: 1000px;
    background-color: black; /* Set a background color */
    border-radius: 5px; /* Add rounded corners */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
}

.form a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-size: 14px;
}

.form a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 10px;
}

#createacct {
    width: 405px; /* Adjust to your desired width */
    height: 60px; /* Adjust to your desired height */
    overflow: hidden; /* Hide text that overflows the container */
    bottom: 550px;
    right: 550px;
    display: flex;
    position: absolute;
    transform: rotate(-20deg); /* Rotate the text counterclockwise by 90 degrees */
    background-color: e6870e;
    font-size: 36px;
    font-family: 'Moul', serif;
    text-transform: uppercase;
    color: black;
    margin: 30px 0 50px 0;
    letter-spacing: 1.5px;
    padding: 15px;
}

.form h3 {
    margin: 10px 80px;
    align-self: flex-start;
}

#submit {
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: whitesmoke;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5;
    border-width: 0.1px;
    border-color: black;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
    background-color: #fdc300;
}

label {
    display: block; /* Place labels on top of fields */
    font-weight: bold;
    color: #e6870e;
    margin-bottom: 5px;
}

.field {
    width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%; /* Make fields expand to full width */
    padding: 10px; /* Add some padding for spacing */
    border: 1px solid #ddd; /* Add a border to fields */
    border-radius: 5px; /* Add rounded corners */
}

.first-class,
.last-class,
.email-class {
    color: black;
    background-color: #f8ffb9;
}

.first-class,
.last-class,
.email-class, ::placeholder {
    color: black;
}

.sub-btn {
    background-color: #e6870e; /* Set a button background color */
    color: #fff; /* Set text color */
    font-weight: 600;
    padding: 10px 20px; /* Add padding to the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}