/* Global styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dela Gothic One', cursive;
    margin: 0;
    padding: 0;
}

#header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #010101;  
    z-index: 999;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    
}

#navbar li a {
    text-decoration: none;
    font-size: 24px;
    color: #fdc300;
    transition: 0.3s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#navbar li h4 {
    font-weight: 400;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fdc300;
}
  
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #fdc300;
    position: absolute;
    bottom: -4px;
    left: 20px;
} 

.header-logo {
    display: inline-block; 
    width: 80px; 
    height: 80px; 
    margin-left: 100px;
}


i.lni {
    font-size: 32px; 
}

.logo {
    width: 100%; /* Make the image fill the width of the parent link element */
    height: 100%; /* Make the image fill the height of the parent link element */
    border-radius: 10px;
}


#hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../imgs/hero2.png");
    min-height: 91vh; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    justify-content: center;
}

#meal {
    height: 100%; /* Make it occupy the full viewport height */
    width: 100%; /* Make it occupy the full viewport width */
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
}

.menu-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    margin: 150px;
    flex: 1px;
}

#root {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.box h3 {
    margin-bottom: 20px;
}

.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

h2 {
    font: caption;
    color: #fdc300;
}


.header {
    position: absolute;
    top: 785px;
    right: 700px;
    display: flex;
    background-color: e6870e;
    font-size: 36px;
    font-family: 'Moul', serif;
    text-transform: uppercase;
    color: black;
    margin: 30px 0 50px 0;
    letter-spacing: 1.5px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-bottom: 1px solid #eee;
    background-color: #fdc300;
}

.header p {
    font-size: 30px;
    font-weight: bold;
}


.sidebar {
    width: 15%;
    min-height: 101vh;
}

.content {
    width: 85%;
}

.fil-p {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: 0 0 30px 0;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fil-p:hover {
    color: black;
    background-color: #fdc300;
}

button {
    width: 100%;
    position: relative;
    border: none;
    background-color: #fdc300;
    padding: 7px 25px;
    cursor: pointer;
    color: black;
}

.add-btn {
    width: 80%;
}

button:hover {
    color: #fff;
    background-color: black;
}


#banner {
    background-position: auto;
    background-repeat: no-repeat;
    background-size: auto;
}

.footer-main {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    min-height: 330px;
}

.footer-logo {
    max-width: 128px;
    height: 128px;
    margin-right: 20px; /* Add some spacing between the logo and the content */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1100px;
}

/* Add styling for the line indicator */

.footer-desc {
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Set the container as relative */
    padding-bottom: 10px; /* Add some space below the description for the line */
}


.line-indicator {
    width: 2px; /* Adjust the width as needed */
    background-color: dimgray; /* Adjust the color as needed */
    height: 100%; /* Height will match the height of .footer-desc */
    position: absolute;
    left: 104%; /* Position it in the center of the .footer-desc */
    top: 0;
    transform: translateX(-50%); /* Center horizontally */
}

.footer-content .content-left,
.footer-content .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Equal width for left and right */
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box; /* Include padding in width calculation */
}

.delivery-contact .overline {
    font-size: 14px;
    font-weight: bold;
}

.footer-main .container .footer-content .content-right .delivery-contact .delivery-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer-main .container .footer-content .content-right .delivery-contact .delivery-numbers .overline {
    color: #FFFFFF;
    margin: 0 0 32px 36px;
}
  
  .number-per-city {
    margin-bottom: 10px;
  }
  
  .number-per-city .body-1--bold-yellow {
      font-weight: bold;
    color: #fdc300;
  }
  
  /* Delivery Service */
  .delivery-service {
    margin-top: 20px;
  }
  
  .delivery-desc {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .delivery-img img {
    max-width: 100%;
    height: auto;
  }

.footer p {
    color: white;
    font-size: 14px;
}

.footer .content-left,
.content-right {
    display: flex;
}

.footer2 {
    background-color: #fdc300;
    padding: 20px;
    margin: 0;
}

.footer2 p {
    color: #252932;
}

.footer2 a {
    text-decoration: none;
}

.foooter2 a:hover {
    text-decoration: underline;
}

.footer2 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px 10px 30px;
}

.footer2 i {
    color: black;
}

.foooter2 i:hover {
    text-decoration: underline;
    cursor: pointer;
}

.overline {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #252932;
}

.footer2 ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 20px;

}

.footer2 a {
    display: flex;
    justify-content: flex-start;
}

.social-media-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-media-links li {
    margin-right: 8px; /* Spacing between social media icons */
}

.footer2 li {
    flex-direction: column;
}


@media (min-width: 924px) {
    .footer-main {
        padding: 0;
    }
    
}




