body, h1, h2, h3, p, ul, li {
    text-decoration: none;
    list-style-type: none;  
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.meal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #F5B335;
    border: 2px solid #000;
    transform: rotate(-3deg);
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    margin: 30px 150px;
}

#myorder {
    width: 285px; /* Adjust to your desired width */
    height: 40px; /* Adjust to your desired height */
    overflow: hidden; /* Hide text that overflows the container */
    bottom: 510px;
    right: 925px;
    display: flex;
    position: absolute;
    transform: rotate(-3deg); /* Rotate the text counterclockwise by 90 degrees */
    background-color: #000000;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 30px 0 50px 0;
    letter-spacing: 1.5px;
    padding: 15px;
}

.vorder-wrapper {
    min-height: 600px;
    width: 80%;
    margin: 80px 100px 150px 150px;
    border: #000000;
    border: 1px solid;
}

.cancelform {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto; /* Push the form to the top of its container */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.pay-btn {
    height: 30px;
    font-size: 16px;
    letter-spacing: .4px;
}

.cancel-btn {
    text-align: center;
    height: 30px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    background-color: antiquewhite;
    margin: 0;
    letter-spacing: .4px;
}

.buttons {
    margin-top: 10px;
    position: relative;
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

button {
    background-color: aliceblue;
    padding: 10px;
    margin: 0 15px 0 0;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    flex-grow: 1; /* Make buttons take equal width */
}

.total-bill .totalBill {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.total-bill .totalBill span {
    font-size: 18px;
}

.head {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid #000;
    padding-left: 15px;
    padding-right: 15px;
}

.your-orders {
    margin-right: auto;
}

.your-order-title {
    text-transform: uppercase;
    font-size: 28px;
}

.order-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Center align order boxes */
    row-gap: 10px;
    margin: 15px 0 15px 0;
    
}

.order-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 345px;
    min-height: 150px;
    padding: 20px;
    margin: 0 0 0 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

.order-box2 {
    width: 100%;
    margin-bottom: 0;
}

.order-box {
    background-color: rgba(210, 255, 88, 0.841);;
}

.order-box.canceled,
.order-box.refused {
    background-color: rgba(213, 0, 0, 0.426);
}

.order-box.completed {
    background-color: rgba(0, 213, 0, 0.426);
}

.status {
    font-weight: bold;
    font-style: inherit;
}

.loadingModal {
    position: fixed;
    top: 0;
    left: 625px;
    background-color: #ffffff;
    width: 300px;
    height: 50px;
    z-index: 6;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.e-msg {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.e-msg i {
    position: fixed;
    top: 13px;
    left: 870px;
    transform: scale(0.7);
    padding: 5px;
    color: dodgerblue;
}

.loader {
    position: fixed;
    top: 15px;
    right: 725px;
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: dodgerblue;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

.payMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}

.gcash-pic {
    position: absolute;
    top: 5px;
    left: 40px;
    width: 80%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../imgs/gcash.jpg);
}

.amount {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 365px;
    left: 150px;
    font-weight: 300;
    color: rgb(140, 157, 175);
}

.ref-num {
    align-items: center;
    text-align: center;
    width: 135px;
    height: 10px;
    padding: 7px;
    position: absolute;
    top: 390px;
    left: 125px;
    color: black;
    border: black 2px solid;
    border-radius: 2px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.gbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px;
    width: 180px;
    height: 25px;
    background-color:dodgerblue;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    z-index: 3; 
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-content {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 485px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    z-index: 2;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: block;
}

.close {
    position: relative;
    top: 100px;
    left: 915px;
    width: 15px;
    height: 5px;
    padding: 1px 7px 1px 7px;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
}


