.vorder-wrapper {
    min-height: 600px;
    min-width: 800px;
    margin: 50px;
    padding: 15px;
}

.your-order-title {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 50px;
}

.order-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: wheat;
    width: 250px;
    min-height: 50px;
    padding: 20px;
    row-gap: 15px;
}

