
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/adminpanel.css' %}">
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
<title>Huyuhoy Silogan</title>
    <link rel="icon" type="image/png" href="{% static 'imgs/huyuhoy-logo.jpg' %}">
{% if user.is_superuser %}
<div class="my-container">
    <div class="sidebar">
        <div class="header">
            <a href="{% url 'index' %}" class="header-logo">
                <img src="{% static 'food/imgs/huyuhoy-logo.jpg' %}" class="logo" alt="Huyuhoy logo">
            </a>
            <i class="lni lni-user"> </i> <h2>{{ user.username }}</h2>
        </div>
        <div class="line"></div>
        <div class="side">
            <a href="{% url 'adminpanel' %}"><div class="button"><i class="lni lni-home"></i> Dashboard</div></a>
            <a href="{% url 'adminpanel-order' %}"><div class="button"><i class="lni lni-layers"></i> Orders</div></a>
            <a href="{% url 'adminpanel-payment' %}"><div class="button"><i class="lni lni-coin"></i> Payment</div></a>
            <a href="{% url 'logout' %}"><div class="button" onclick="return confirm('Are you sure you want to Log out?')"><i class="lni lni-cogs"></i> Log out</div></a>
        </div>
    </div>
    <div class="my-content">
        <div class="dashboard-container">
            <div class="dashboard-box revenue-box">
            <div class="circle">
                <i class="lni lni-wallet"></i>
            </div>
            <h3>Total Revenue</h3>
            <p>₱ {{ total_revenue|default:"0" }}</p>
        </div>
        <div class="dashboard-box customer-box">
            <div class="circle">
                <i class="lni lni-customer"></i>
            </div>
            <h3>Total Customers</h3>
            <p>{{ total_customers }}</p>
        </div>
        <div class="dashboard-box ordered-food-box">
            <div class="circle">
                <i class="lni lni-service"></i>
            </div>
            <h3>Total Ordered Food</h3>
            <p>{{ total_ordered_meals }}</p>
        </div>
        </div>
        
        <section class="table_body3">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Date Joined</th>
                        <th>Last Login</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>
                            {% comment %} <form method="POST" action="{% url 'adminpanel' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user_id }}">
                                <input type="hidden" name="action" value="Edit">
                                <button type="submit" class="complete-button" onclick="return confirm('Are you sure you want to Edit this Account?')"><i class="lni lni-pencil-alt"></i></button>
                            </form> {% endcomment %}
                            <form method="POST" action="{% url 'adminpanel' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <input type="hidden" name="action" value="Delete">
                                <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to Delete this Account?')"><i class="lni lni-trash-can"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    
    {% else %}
    <div class="main-container2">
        <div class="warning-container">
            <span><i class="lni lni-warning"></i></span>
            <div class="h1">Admin section only!</div>
        </div>
        <div class="home-container">
            <a class="home-btn" href="{% url 'index' %}">
                <span><i class="lni lni-home"></i></span>
                <div class="return">Return</div>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
