{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/style.css' %}">
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
<footer class="footer">
    <div class="footer-main">
        <figure class="footer-logo">
            <img src="{% static '/food/imgs/huyuhoy-logo.jpg' %}" alt="Huyuhoy">
        </figure>
        <div class="container">
            <div class="footer-content">
                <div class="content-left">
                    <div class="footer-desc">
                        <p class="body-1">Introducing "Huyuhoy," your affordable food haven. We serve up delicious classics
                        like pork sisig, shawarma rice, and tasty chicken dishes that won't empty your wallet. 
                        Our unbeatable prices and mouthwatering meals have made us the go-to spot in town,
                        and we're here to serve you from 8:00 AM to 10:00 PM. Join us for a budget-friendly
                        and tasty dining experience at Huyuhoy.</p>
                        <div class="line-indicator"></div>
                    </div>
                </div>
                <div class="content-right">
                    <div class="delivery-contact"> 
                        <p class="overline"><i class="lni lni-phone"></i>Contact Us</p>
                        <div class="delivery-numbers">
                            <div class="number-per-city">
                                <p class="body-1--bold-yellow">Metro Manila</p>
                                <p class="body-1">(02) 8-789-9999</p>
                            </div>
                            <div class="number-per-city">
                                <p class="body-1--bold-yellow">Laguna</p>
                                <p class="body-1">(049) 502-9999</p>
                            </div>
                            <div class="number-per-city">
                                <p class="body-1--bold-yellow">Baguio</p>
                                <p class="body-1">(074) 442-9999</p>
                            </div>
                            <div class="number-per-city">
                                <p class="body-1--bold-yellow">Cebu</p>
                                <p class="body-1">(032) 254-1111</p>
                            </div>
                            <div class="number-per-city">
                                <p class="body-1--bold-yellow">Cavite</p>
                                <p class="body-1">(046) 416-9999</p>
                            </div>
                            <div class="number-per-city">
                                <p class="body-1--bold-yellow">Batangas</p>
                                <p class="body-1">(043) 723-2222</p>
                            </div>
                            <div class="number-per-city">
                                <p class="body-1--bold-yellow">Boracay</p>
                                <p class="body-1">(036) 288-1611</p>
                            </div>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container">
            <!-- Your footer2 content here -->
            <a href="#" class="overline" target="_blank">How to order</a>
            <a href="#" class="overline" target="_blank">Conditions of use</a>
            <a href="#" class="overline" target="_blank">Privacy policy</a>
            <p class="overline">Send us feedback</p>
            <a href="#" target="_blank" class="send-img"><i class="lni lni-envelope"></i></a>
            <p class="overline">Follow us</p>
            <ul class="social-media-links">
                <li><a href="https://www.facebook.com" target="_blank"><i class="lni lni-facebook-oval"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="lni lni-instagram"></i></a></li>
                <li><a href="https://www.tiktok.com" target="_blank"><i class="lni lni-tiktok"></i></a></li>
            </ul>
        </div>
    </div>
</footer>