{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/style.css' %}">
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="footer-content">
                <div class="content-left">
                    <figure class="footer-logo">
                        <img src="{% static '/food/imgs/huyuhoy-logo.jpg' %}" alt="Huyuhoy">
                    </figure>
                </div>
                <div class="content-right">
                    <div class="footer-desc">
                        <p class="body-1">"Welcome to 'Huyuhoy,' where affordability meets exceptional taste. 
                            Indulge in a delectable array of dishes featuring our signature pork sisig, 
                            aromatic shawarma rice, and an assortment of tantalizing chicken specialties all 
                            crafted to delight your palate without burdening your budget.
                        </p>
                        <p class="body-1">Discover the unbeatable prices that have made us the talk of the town,
                             offering an irresistible combination of value and flavor. Our commitment to serving 
                             you extends from 8:00 AM to 10:00 PM, ensuring you can satisfy your cravings at any hour.
                        </p>
                        <p class="body-1">Experience a dining haven that not only pleases your taste buds but also nourishes
                             your wallet. Join us at Huyuhoy for a budget-friendly culinary journey that promises satisfaction with every bite."
                       </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container">
            <!-- Your footer2 content here -->
            <a href="#" class="overline" target="_blank">How to order</a>
            <a href="#" class="overline" target="_blank">Conditions of use</a>
            <a href="#" class="overline" target="_blank">Privacy policy</a>
            <p class="overline">Send us feedback</p>
            <a href="#" target="_blank" class="send-img"><i class="lni lni-envelope"></i></a>
            <p class="overline">Follow us</p>
            <ul class="social-media-links">
                <li><a href="https://www.facebook.com" target="_blank"><i class="lni lni-facebook-oval"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="lni lni-instagram"></i></a></li>
                <li><a href="https://www.tiktok.com" target="_blank"><i class="lni lni-tiktok"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
