{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/style.css' %}">
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="content-left">
                <figure class="footer-logo">
                    <img src="{% static '/food/imgs/huyuhoy-logo.jpg' %}" alt="Huyuhoy">
                </figure>
            </div>
            <div class="content-right"></div>
        </div>
    </div>
   
    <div class="footer2">
        <div class="container">
            <!-- Your footer2 content here -->
            <a href="{% url 'howtoorder' %}" class="overline" target="_blank">How to order</a>
            <a href="{% url 'conditionofuse' %}" class="overline" target="_blank">Conditions of use</a>
            <a href="{% url 'privacypolicy' %}" class="overline" target="_blank">Privacy policy</a>
            <p class="overline">Send us feedback</p>
            <a href="#" target="_blank" class="send-img"><i class="lni lni-envelope"></i></a>
            <p class="overline">Follow us</p>
            <ul class="social-media-links">
                <li><a href="https://www.facebook.com/huyuhoy12" target="_blank"><i class="lni lni-facebook-oval"></i></a></li>
                <li><a href="https://www.instagram.com/huyuhoysilogan_/" target="_blank"><i class="lni lni-instagram"></i></a></li>
                <li><a href="https://www.tiktok.com" target="_blank"><i class="lni lni-tiktok"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
