{% load static %}
<div>
    <section id="header">
        <a href="{% url 'index' %}" class="header-logo">
            <img src="{% static 'food/imgs/huyuhoy-logo.jpg' %}" class="logo" alt="Huyuhoy logo">
        </a> 
        <ul id="navbar">
            <li><a href="{% url 'index' %}"><i class="lni lni-home"></i></a></li>
            <li><a href="{% url 'order' %}"><i class="lni lni-cart"></i><span id="cartCount">0</span></a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
                <h4 class="username">{{ user.username }}</h4>
                <div class="dropdown-content">
                    {% if not user.is_superuser %}
                        <a href="{% url 'meal' %}">Menu</a>
                        <a href="{% url 'view-order' %}">View Orders</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a href="{% url 'adminpanel' %}">Admin Panel</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">Log out</a>
                </div>
            </li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in/Sign up</a></li>
            {% endif %}
        </ul>
    </section>
</div>
