{% load static %}
{% include 'food/header.html' %} <!-- Include the header -->
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/howtoorder.css' %}">
<div class="s-wrapper">
    <div class="a-wrapper">
        <div class="c-standard-layout-content_display [ u-df-mb u-df-mb-w ]">
            <div class="modal-body desktop">
                <div class="privacy-policy__content" id="policy-content">
                    <div class="js-spy">
                        <h3 style="color:#F5B335">How to Order Online</h3>
                        <hr>
                        <p class="body-1">Visit our website and browse our menu to discover a variety of delicious food options</p><br>
                        <p class="body-1">Orders may be placed online for:</p><br>
                        <ul class="body-1" style="padding-left: 30px;list-style-type: circle;">
                            <li><b>Deliver</b> – Have your orders delivered as soon as possible to your preferred address.</li><br>
                            <li><b>Pick-Up</b> – Order in advance then pick up at HUYUHOY store at your most convenient time.</li><br>
                            <ol class="body-1" style="padding-left: 30px;list-style-type: number;">
                                <li><b>Create an Account</b><br>
                                    To place an order, you can either create an account or proceed as a guest. 
                                    Creating an account allows you to save your preferences, track your order history, and receive special offers.</li><br>
                                <li><b>Add Items to Your Cart</b><br>
                                    Select the items you wish to order and add them to your cart. You can review your selections and make adjustments before proceeding to checkout.</li><br>
                                <li><b>Provide Delivery Information</b><br>
                                    Enter the delivery address and any specific delivery instructions if needed. 
                                    Ensure the accuracy of the information to facilitate a smooth delivery process</li><br>
                                <li><b>Review Your Order</b><br>
                                    Before confirming your order, review the items in your cart, delivery details, and total cost. 
                                    You can make changes or add special instructions at this stage.</li><br>
                                <li><b>Payment</b><br>
                                    Choose your preferred payment method and provide the necessary payment information. 
                                    Your payment information is securely processed by our trusted payment service providers.</li><br>
                                <li><b>Place Your Order</b><br>
                                    Click the "Proceed" button to finalize your order. You will receive an order confirmation via email, 
                                    which includes the estimated delivery time.</li><br>
                            </ol>
                        </ul>
                    </div>
                    <br>
                    <div class="js-spy">
                        <h3 style="color:#F5B335">Conditions of Use</h3>
                        <hr>
                        <ol class="body-1" style="padding-left: 30px;list-style-type: number;">
                            <ol class="body-1" style="padding-left: 30px;list-style-type: number;">
                            <li><b>Acceptance of Terms</b><br>
                                By using the Huyuhoy website, mobile application, or any of our services, you agree to comply with and be bound by these Terms and Conditions of Use.</li>
                            <ul style="padding-left: 15px;list-style-type: circle;"><br></ul>
                            <li><b>Account Security</b><br>
                                If you create an account with Huyuhoy, you are responsible for maintaining the confidentiality of your account information, 
                                including your password. You agree to notify us immediately of any unauthorized use of your account.</li><br>
                            <li><b>Placing Orders</b><br>
                                When placing orders through Huyuhoy, you agree to provide accurate and complete information, including your delivery address and payment information. 
                                You also agree to pay for all orders placed through your account.</li><br>
                            <li><b>Pricing and Payments</b><br>
                                Prices for our food items and delivery services are subject to change without notice. 
                                Payment is processed securely through our trusted payment service providers. 
                                You agree to pay all applicable fees and taxes associated with your orders.</li><br>
                            <li><b>Cancellation and Refunds</b><br>
                                Changes or cancellations must be made within five (5) minutes.
                                Refund requests will be handled in accordance with our Refund Policy.</li><br>
                            <li><b>Modification of Services</b><br>
                                We reserve the right to modify, suspend, or discontinue any part of our Services at any time, 
                                without notice.</li><br>
                            <li><b>Privacy</b><br>
                                Your use of our Services is also governed by our Privacy Policy, which outlines how we collect,
                                 use, and protect your personal information.</li><br>
                            <li><b>Contact Information</b><br>
                                For questions, concerns, or requests related to these Terms and Conditions of Use or our Services, 
                                please contact us at 09275913925.</li><br>
                            </ol>
                        </ol>
                    </div>
                    <br>
                    
                    </a></div><a>
                </a></div><a>
            </a></div><a>
        </a></div>
        </div>
    </div>
    
</div>


<!-- <script src="{% static 'food/js/order.js' %}"></script>
<script src="{% static 'food/js/cart.js' %}"></script> -->
{% endblock content %}
{% include 'food/footer.html' %} <!-- Include the footer -->
