<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huyuhoy's Silogan</title>
    <link rel="icon" type="image/png" href="{% static 'imgs/huyuhoy-logo.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'food/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'food/css/meal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'food/css/order.css' %}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>
<body>
    <section id="header">
        <a href="{% url 'index' %}" class="header-logo">
            <img src="{% static '/food/imgs/huyuhoy-logo.jpg' %}" class="logo" alt="Huyuhoy logo">
        </a> 
        <div>
            <ul id="navbar">
                <li><a class="active" href="{% url 'index' %}"><i class="lni lni-home"></i></a></li>
                <li><a href="#cart"><i class="lni lni-cart"></i><span id="cartCount">0</span></a></li>
                <li><a href="{% url 'login' %}">Log in/Sign up</a></li>
            </ul>
        </div>
    </section>
    <div class="cart-overlay" onclick="toggleCart()"></div>
    <div class="cart-container">
        <div class="cart-content">
            <div class="first-row">
                <button class="del" onclick="clearCart()">Clear Cart</button>
                <i class="lni lni-close" onclick="toggleCart()"></i>
            </div>
            <div class="product">
                <ul class="cart-list">
                    <li>sample</li>
                </ul>
            </div>
            <div class="cart-bottom">
                <div class="cart-total">
                    <h5 id="ctotal" class="ctotal-order">Total: ₱ 0.00</h5>
                </div>
                <a class="view-button" href="#"><span>VIEW CART</span></a>
            </div>
        </div>
    </div>
    <section id="hero">
        <!-- Your hero section content here -->
    </section>
    <section id="banner">
        <img src="{% static '/food/imgs/Huyuhoys_Hero_Page_6.png' %}" alt="">
    </section>
    <footer class="footer">
        <div class="footer-main">
            <div class="container">
                <figure class="footer-logo">
                    <img src="{% static '/food/imgs/huyuhoy-logo.jpg' %}" alt="Huyuhoy">
                </figure>
                <div class="footer-content">
                    <div class="content-left">
                        <div class="footer-desc">
                            <p class="body-1">Introducing "Huyuhoy," your affordable food haven. We serve up delicious classics
                            like pork sisig, shawarma rice, and tasty chicken dishes that won't empty your wallet. 
                            Our unbeatable prices and mouthwatering meals have made us the go-to spot in town,
                            and we're here to serve you from 8:00 AM to 10:00 PM. Join us for a budget-friendly
                            and tasty dining experience at Huyuhoy.</p>
                            <div class="line-indicator"></div>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="delivery-contact"> 
                            <p class="overline"><i class="lni lni-phone"></i>Contact Us</p>
                            <div class="delivery-numbers">
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Metro Manila</p>
                                    <p class="body-1">(02) 8-789-9999</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Laguna</p>
                                    <p class="body-1">(049) 502-9999</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Baguio</p>
                                    <p class="body-1">(074) 442-9999</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Cebu</p>
                                    <p class="body-1">(032) 254-1111</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Cavite</p>
                                    <p class="body-1">(046) 416-9999</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Batangas</p>
                                    <p class="body-1">(043) 723-2222</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Boracay</p>
                                    <p class="body-1">(036) 288-1611</p>
                                </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="footer2">
            <div class="container">
                <!-- Your footer2 content here -->
                <a href="#" class="overline" target="_blank">How to order</a>
                <a href="#" class="overline" target="_blank">Conditions of use</a>
                <a href="#" class="overline" target="_blank">Privacy policy</a>
                <p class="overline">Send us feedback</p>
                <a href="#" target="_blank" class="send-img"><i class="lni lni-envelope"></i></a>
                <p class="overline">Follow us</p>
                <ul class="social-media-links">
                    <li><a href="https://www.facebook.com" target="_blank"><i class="lni lni-facebook-oval"></i></a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="lni lni-instagram"></i></a></li>
                    <li><a href="https://www.tiktok.com" target="_blank"><i class="lni lni-tiktok"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="{% static 'food/js/main.js' %}"></script>
    <script src="{% static 'food/js/cart.js' %}"></script>
    <script src="{% static 'food/js/order.js' %}"></script>
</body>
</html>
