{% extends 'food/base.html' %}

{% block content %}
{% load static %}
    <section id="hero">
    </section>
    <section id="meal">
        <div class="menu-container">
            <div class="sidebar">
                    <div id="cat-btn"></div>
            </div>
            <div class="meal-content">
                <div class="meal-content2">
                    <div class="header">
                        <p>Choose Order</p>
                    </div>
                    <div class="cline"></div>
                    <div id="root"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="banner">
        <img src="{% static 'food/imgs/Huyuhoys_Hero_Page_6.png' %}" alt="">
    </section> -->

    <script src="{% static 'food/js/main.js' %}"></script>
    <script src="{% static 'food/js/filter.js' %}"></script> 
{% endblock content %}
