<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="icon" type="image/png" href="{% static 'imgs/huyuhoy-logo.jpg' %}">
    <title>Huyuhoy's Silogan</title>
    <link rel="stylesheet" type="text/css" href="{% static '/food/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/food/css/login.css' %}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    
</head>
<body>
    <section id="header">
        <a href="{% url 'index' %}">
            <img src="{% static '/food/imgs/huyuhoy-logo.jpg' %}" class="logo" alt="Huyuhoy logo">
        </a> 
        <div>
            <ul id="navbar">
                <li><a class="active" href="{% url 'index' %}"><i class="lni lni-home"></i></a></li>
                <li><a href="#cart"><i class="lni lni-cart"></i></a></li>
                <li><a href="{% url 'login' %}">Log in/Sign up</a></li>
                <!-- {% if user.is_authenticated %} -->
                <!-- Display "Profile" link when user is logged in -->
                <!-- <li><a href="#profile">Profile</a></li> -->
                <!-- {% else %} -->
                <!-- Display "Log in/Sign up" link when user is not logged in -->
                <!-- {% endif %} -->
            </ul>
        </div>
    </section>
    <div class="hero">
        <div class="left-container">
            <form action="" class="form">
                <h2>Registered Customers</h2>
                <h3>Email or Phonenumber</h5>
                <input id="email" name="email" class="box" placeholder="example@hcdc.edu.ph / 09943394859" type="text">
                <h3>Password</h3>
                <input id="password" name="password" class="box" placeholder="must be at least 6 characters long." type="text">
                <input type="submit" value="Log In" id="submit">
                <a href="#">Forget password?</a>
            </form>
            <div class="right-container">
                <h2>New Customers</h2>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more</p>
                <img src="{% static '/food/imgs/delivery-guy.png' %}" id="delivery" alt="">
                <button>Create an account</button>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-main">
            <div class="container">
                <figure class="footer-logo">
                    <img src="{% static '/food/imgs/huyuhoy-logo.jpg' %}" alt="Huyuhoy">
                </figure>
                <div class="footer-content">
                    <div class="content-left">
                        <div class="footer-desc">
                            <p class="body-1">Introducing "Huyuhoy," your affordable food haven. We serve up delicious classics
                            like pork sisig, shawarma rice, and tasty chicken dishes that won't empty your wallet. 
                            Our unbeatable prices and mouthwatering meals have made us the go-to spot in town,
                            and we're here to serve you from 8:00 AM to 10:00 PM. Join us for a budget-friendly
                            and tasty dining experience at Huyuhoy.
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="delivery-contact"> 
                            <p class="overline"><i class="lni lni-phone"></i>Contact Us</p>
                            <div class="delivery-numbers">
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Metro Manila</p>
                                    <p class="body-1">(02) 8-789-9999</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Laguna</p>
                                    <p class="body-1">(049) 502-9999</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Baguio</p>
                                    <p class="body-1">(074) 442-9999</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Cebu</p>
                                    <p class="body-1">(032) 254-1111</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Cavite</p>
                                    <p class="body-1">(046) 416-9999</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Batangas</p>
                                    <p class="body-1">(043) 723-2222</p>
                                </div>
                                <div class="number-per-city">
                                    <p class="body-1--bold-yellow">Boracay</p>
                                    <p class="body-1">(036) 288-1611</p>
                                </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer2">
                <div class="container">
                    <a href="#" class="overline" target="_blank">How to order</a>
                    <a href="#" class="overline" target="_blank">Conditions of use</a>
                    <a href="#" class="overline" target="_blank">Privacy policy</a>
                    <p class="overline">Send us feedback</p>
                    <a href="#" target="_blank" class="send-img"><i class="lni lni-envelope"></i></a>
                    <p class="overline">Follow us</p>
                    <ul class="social-media-links">
                        <li><a href="https://www.facebook.com" target="_blank"><i class="lni lni-facebook-oval"></i></a></li>
                        <li><a href="https://www.instagram.com" target="_blank"><i class="lni lni-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com" target="_blank"><i class="lni lni-tiktok"></i></a></li>
                    </ul>
                </div>
        </div>
    </footer>
</body>
</html>

