{% comment %} {% extends 'food/base.html' %} {% endcomment %}

{% load static %}
{% include 'food/header.html' %} <!-- Include the header -->
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/order.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <a href="{% url 'meal' %}" class="meal">Menu <i class="lni lni-dinner"></i></a>
    <h2 id="cartitems">Cart-items</h2>
    
    <div class="order-container">
        <div class="order-header">
            <h3 id="permanent">Item Quantity: </h3>
        </div>
        <div class="head-container">
            <!-- Your order items will be added here dynamically -->
            <div class="inner-meal" id="meal-img"></div>
            <div class="inner-meal" id="meal-name"></div>
            <div class="inner-meal" id="meal-rice"></div>
            <div class="inner-meal" id="meal-price"></div>
            <div class="remove-btn" id="rmv" style="display: none;">x</div>
        </div>
        <div class="footer_container">
            <form id="order-form">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <h2 class="type">Transaction Type</h2>
                <div class="transaction">
                    <div class="delivery transaction-box" onclick="selectTransaction('Delivery')">
                        <span>Delivery</span>
                    </div>
                    <div class="pickup transaction-box" onclick="selectTransaction('Pickup')">
                        <span>Pickup</span>
                    </div>
                </div>
                <div class="selection-message"></div>
                <div id="address-box" style="display: none;">
                    <i class="lni lni-map-marker"></i><label for="address" class="address">Delivery Address:</label>
                    <textarea id="addressInput" placeholder="E.g. 123 Rizal Street" rows="1" required></textarea>
                </div>
                <h2 class="type" id="paym" style="display: none;">Payment method</h2>
                <div class="payment" id="payment-box" style="display: none;">
                    <div class="cod payment-box" onclick="selectPayment('cod')" data-payment-method="COD">
                        <span>Cash on Delivery</span>
                    </div>
                    <div class="gcash payment-box" onclick="selectPayment('gcash')" data-payment-method="GCASH">
                        <span id="gcash">GCash</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="note" class="note">Special Note: </label>
                    <textarea id="note" placeholder="E.g. No mayo please" class="noteInput" name="note" rows="4"></textarea>
                </div>
                
                <button type="button" class="submit-button" onclick="order()">Submit Order</button>
                {% else %}
                <div class="btn-group">
                    <a href="{% url 'login' %}" class="login">Log in/Sign up now!</a>
                </div>
                {% endif %}
            </form>
            <div id="ototal" class="order-total"> <!-- Change id to "ptotal" and add class "order-total" -->
                <div class="total">
                    <span id="total">Total: ₱ 0.00</span> 
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'food/js/cart.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
             displayCart();
        });
        const csrfToken = "{{ csrf_token|escapejs }}";
    </script>
{% endblock content %}
{% include 'food/footer.html' %} <!-- Include the footer -->
