{% extends 'food/base.html' %}

{% load static %}
{% include 'food/header.html' %} <!-- Include the header -->
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/order.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div class="order-container">
        {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}</h2>
        {% endif %}
        <div class="order-header">
            <span class="order-list">Order List: </span>
            <h3 id="permanent">Meal Image</h3>
            <h3 id="permanent">Meal Name</h3>
            <h3 id="permanent">Price</h3>
        </div>
        <div class="head-container">
            <!-- Your order items will be added here dynamically -->
            <div class="inner-meal" id="meal-img"></div>
            <div class="inner-meal" id="meal-name"></div>
            <div class="inner-meal" id="meal-price"></div>
            <div class="remove-btn" id="rmv" style="display: none;">x</div>
        </div>
        <div class="footer-container">
            <form id="order-form">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <div class="form-group">
                    <label for="note" class="note">Message: </label>
                    <textarea id="note" name="note" rows="4" required></textarea>
                </div>
                <button type="button" class="submit-button" onclick="order()">Submit Order</button>
                {% else %}
                <a href="{% url 'login' %}">Log in/Sign up now!</a>
                {% endif %}
            </form>
            <div id="ototal" class="order-total"> <!-- Change id to "ptotal" and add class "order-total" -->
                <span id="total">Total: ₱ 0.00</span> 
            </div>
        </div>
    </div>

    <ol id="pcart" style="display: none;"></ol>

    <script>
        // Call the updateOrderContainer function when the document is ready
        document.addEventListener("DOMContentLoaded", function () {
            //updateOrderContainer();
            //displayCart();
        });
    </script>
    <script>
        const csrfToken = "{{ csrf_token|escapejs }}";
    </script>
    <!-- <script src="{% static 'food/js/order.js' %}"></script> -->
    <script src="{% static 'food/js/cart.js' %}"></script>
{% endblock content %}
{% include 'food/footer.html' %} <!-- Include the footer -->
