{% load static %}
{% include 'food/header.html' %} <!-- Include the header -->
{% block content %}
    <div>
    <link rel="stylesheet" type="text/css" href="{% static '/food/css/signup.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Moul&display=swap" rel="stylesheet">
    
    <div class="hero">
        <div class="main-container">
            <form method="POST" action="{% url 'signup' %}" class="form">
                <h2 id="create-account-header">Create account</h2>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <div class="label">
                        {{ field.label_tag }}
                    </div>
                    <div class="field">
                        {{ field }}
                        {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="sub-btn">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}
{% include 'food/footer.html' %} <!-- Include the footer -->
