{% extends 'food/base.html' %}
{% load static %}
{% include 'food/header.html' %} <!-- Include the header -->
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/success.css' %}">
<div class="s-wrapper">
    <h3>We have received your order.</h3>
    <div class="track-order-box">
        <a class="track-btn" href="{% url 'view-order' %}">
            <span><i class="lni lni-cart-full"></i></span>
            <div class="return">Track your orders</div>
        </a>
    </div>
    <h4>Order Number: {{ orderNum }}</h4>
    <h3>You ordered:</h3>
    <ul class="ordered-items">
        {% for item in items %}
            <li class="item-name">{{ item.name }} - {{ item.rice }} - ₱{{ item.price }}</li>
        {% endfor %}
    </ul>

    <h4 class="total">Total: ₱{{ bill }}</h4>

    <button class="yellow-btn" onclick="window.location.href='http://127.0.0.1:8000/meal/'">Continue Ordering</button>
</div>

{% endblock content %}
{% include 'food/footer.html' %} <!-- Include the footer -->
