<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huyuhoy's Silogan</title>
    <link rel="icon" type="image/png" href="{% static 'imgs/huyuhoy-logo.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'food/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'food/css/meal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'food/css/order.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
</head>
<body>
    <section id="header">
        <a href="{% url 'index' %}" class="header-logo">
            <img src="{% static '/food/imgs/huyuhoy-logo.jpg' %}" class="logo" alt="Huyuhoy logo">
        </a> 
        <div>
            <ul id="navbar">
                <li><a class="active" href="{% url 'index' %}"><i class="lni lni-home"></i></a></li>
                <li><a href="#cart"><i class="lni lni-cart"></i><span id="cartCount">0</span></a></li>
                <li><a href="{% url 'login' %}">Log in/Sign up</a></li>
            </ul>
        </div>
    </section>
    <div class="cart-overlay" onclick="toggleCart()"></div>
    <div class="cart-container">
        <div class="cart-content">
            <div class="first-row">
                <button class="del" onclick="clearCart()">Clear Cart</button>
                <i class="lni lni-close"></i>
            </div>
            <div class="product">
                <ul class="cart-list">
                    <li>sample</li>
                </ul>
            </div>
            <div class="cart-bottom">
                <div class="cart-total">
                    <h5 class="title-1">Total</h5>
                    <h5 class="title-1">₱ 0.00</h5>
                </div>
                <a class="view-button" href="#"><span>VIEW CART</span></a>
            </div>
        </div>
    </div>
    <div class="s-wrapper">
        <h3>We have received your order.</h3>
        <h3> You ordered: <br></h3>
        <h3> {{ order }} </h3> 
    </div>
    <script src="{% static 'food/js/order.js' %}"></script>
    <script src="{% static 'food/js/cart.js' %}"></script>
</body>
</html>
