{% load static %}
{% include 'food/header.html' %} <!-- Include the header -->
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/view-order.css' %}">
<div class="vorder-wrapper">
    <div class="head">
        <div class="your-orders">
            <h3 class="your-order-title">Your Orders:</h3>
        </div>
        <div class="total-bill">
            <h3>Total Bill <span class="totalBill">{{ total_bill|default:"5.00" }}</span></h3>
        </div>
    </div>
    <div class="order-box-container"> <!-- Use a div container for flex layout -->
        {% for order in orders %}
        <div class="order-box">
            <li>
                Order Number: {{ order.number }}<br>
                Bill: {{ order.bill }}<br>
                Date: {{ order.date }}<br>
                Note: {{ order.note }}<br>
                Status: <span class="status">{{ order.status }}</span><br>
                <ul>
                    {% for cartitem in order.cart_items.all %}
                        <li>
                            Item: {{ cartitem.name }} x {{ cartitem.rice }} x ₱{{ cartitem.price }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </div>
        {% endfor %}
    </div>
    <script>
        // Call the updateOrderContainer function when the document is ready
        document.addEventListener("DOMContentLoaded", function () {
            updateCartCount();
        });
    </script>
</div>
<script src="{% static 'food/js/cart.js' %}"></script>
<!-- <script src="{% static 'food/js/order.js' %}"></script>
<script src="{% static 'food/js/cart.js' %}"></script> -->
{% endblock content %}
{% include 'food/footer.html' %} <!-- Include the footer -->
